<?xml version="1.0"?>
<config>
    <modules>
        <Afterpay_Afterpay>
            <version>3.2.0</version>
        </Afterpay_Afterpay>
    </modules>
    <afterpay>
        <environments>
            <sandbox>
                <name>Sandbox</name>
                <api_url>https://api-sandbox.afterpay.com/</api_url>
                <api_us_url>https://api.us-sandbox.afterpay.com/</api_us_url>
                <web_url>https://portal.sandbox.afterpay.com/</web_url>
                <web_us_url>https://portal.sandbox.afterpay.com/</web_us_url>
            </sandbox>
            <production>
                <name>Production</name>
                <api_url>https://api.afterpay.com/</api_url>
                <api_us_url>https://api.us.afterpay.com/</api_us_url>
                <web_url>https://portal.afterpay.com/</web_url>
                <web_us_url>https://portal.afterpay.com/</web_us_url>
            </production>
        </environments>
    </afterpay>
    <frontend>
        <secure_url>
            <afterpay_payment>/afterpay/payment/</afterpay_payment>
        </secure_url>
        <routers>
            <afterpay>
                <use>standard</use>
                <args>
                    <module>Afterpay_Afterpay</module>
                    <frontName>afterpay</frontName>
                </args>
            </afterpay>
        </routers>
        <layout>
            <updates>
                <afterpay>
                    <file>afterpay.xml</file>
                </afterpay>
            </updates>
        </layout>
    </frontend>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <afterpay_token>
                    <to_order_payment>*</to_order_payment>
                </afterpay_token>
                <afterpay_order_id>
                    <to_order_payment>*</to_order_payment>
                </afterpay_order_id>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <afterpay>
                <class>Afterpay_Afterpay_Model</class>
                <resourceModel>afterpay_resource</resourceModel>
            </afterpay>
            <afterpay_resource>
                <class>Afterpay_Afterpay_Model_Resource</class>
                <entities>
                </entities>
            </afterpay_resource>
        </models>
        <blocks>
            <afterpay>
                <class>Afterpay_Afterpay_Block</class>
            </afterpay>
        </blocks>
        <helpers>
            <afterpay>
                <class>Afterpay_Afterpay_Helper</class>
            </afterpay>
        </helpers>
        <resources>
            <afterpay_setup>
                <setup>
                    <module>Afterpay_Afterpay</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </afterpay_setup>
        </resources>
        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <afterpay_payment_settings_changed>
                        <class>afterpay/observer</class>
                        <method>updateOrderLimits</method>
                    </afterpay_payment_settings_changed>
                </observers>
            </admin_system_config_changed_section_payment>
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <afterpay_view_afterpay_settings>
                        <class>afterpay/observer</class>
                        <method>addLogWarningMessage</method>
                    </afterpay_view_afterpay_settings>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
            <controller_action_postdispatch_checkout_onepage_saveOrder>
                <observers>
                    <afterpay_checkout_default_add_token>
                        <class>afterpay/observer</class>
                        <method>addTokenToOrderResponse</method>
                    </afterpay_checkout_default_add_token>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveOrder>
            <controller_action_postdispatch_aw_onestepcheckout_ajax_placeOrder>
                <observers>
                    <afterpay_checkout_default_add_token>
                        <class>afterpay/observer</class>
                        <method>addTokenToOrderResponse</method>
                    </afterpay_checkout_default_add_token>
                </observers>
            </controller_action_postdispatch_aw_onestepcheckout_ajax_placeOrder>
            <controller_action_postdispatch_opc_json_saveOrder>
                <observers>
                    <afterpay_checkout_default_add_token>
                        <class>afterpay/observer</class>
                        <method>addTokenToOrderResponse</method>
                    </afterpay_checkout_default_add_token>
                </observers>
            </controller_action_postdispatch_opc_json_saveOrder>
            <controller_action_postdispatch_gomage_checkout_onepage_save>
                <observers>
                    <afterpay_checkout_default_add_token>
                        <class>afterpay/observer</class>
                        <method>addTokenToOrderResponse</method>
                    </afterpay_checkout_default_add_token>
                </observers>
            </controller_action_postdispatch_gomage_checkout_onepage_save>
            <controller_action_postdispatch_firecheckout_index_saveOrder>
                <observers>
                    <afterpay_checkout_default_add_token>
                        <class>afterpay/observer</class>
                        <method>addTokenToOrderResponse</method>
                    </afterpay_checkout_default_add_token>
                </observers>
            </controller_action_postdispatch_firecheckout_index_saveOrder>
        </events>
            <controller_action_layout_load_before>
                <observers>
                    <attributesethandle>
                        <type>singleton</type>
                        <class>afterpay/observer</class>
                        <method>addModuleToHandle</method>
                    </attributesethandle>
                </observers>
            </controller_action_layout_load_before>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <afterpay_admin after="Mage_Adminhtml">Afterpay_Afterpay_Adminhtml</afterpay_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <!-- Cron job to fetch current order total limits with Afterpay API -->
            <Afterpay_updateOrderLimits>
                <schedule>
                    <cron_expr>0 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>afterpay/observer::updateOrderLimits</model>
                </run>
            </Afterpay_updateOrderLimits>
        </jobs>
    </crontab>
    <default>
        <afterpay>
            <general>
                <debug>1</debug>
            </general>
            <payovertime_installments>
                <enable_product_page>1</enable_product_page>
                <product_page_price_block_selectors><![CDATA[.product-shop .price-box
.product-essential .price-box]]></product_page_price_block_selectors>
                <check_order_total_limits>1</check_order_total_limits>
            </payovertime_installments>
            <payovertime_checkout>
                <checkout_headline_html_template><![CDATA[
<img src="{afterpay_logo}" class="v-middle" id="afterpay-logo" />
<span id="afterpay-callout">Interest-free payments.</span>
<a href="#afterpay-what-is-modal" id="what-is-afterpay-trigger">What is Afterpay?</a>
                    ]]>
                </checkout_headline_html_template>
                <show_checkout_details>1</show_checkout_details>
                <checkout_mode>lightbox</checkout_mode>
            </payovertime_checkout>
            <payovertime_cart>
                <show_onetouch>1</show_onetouch>
            </payovertime_cart>
        </afterpay>
        <payment>
            <afterpaypayovertime>
                <title>Afterpay - Interest-free payments</title>
                <message><![CDATA[<b>No payment today!</b><br>
4 equal payments over the next 60 days.]]></message>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <order_email>1</order_email>
                <invoice_create>1</invoice_create>
                <invoice_email>1</invoice_email>
                <model>afterpay/method_payovertime</model>
                <api_mode>sandbox</api_mode>
				<payment_action>authorize_capture</payment_action>
                <api_password backend_model="adminhtml/system_config_backend_encrypted"/>
                <installments_amount>4</installments_amount>
            </afterpaypayovertime>
        </payment>
    </default>
</config>
